<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-code</title>
  <link rel="stylesheet" href="./main.css">
  <script src="https://cdn.bootcss.com/vue/2.5.21/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="v-code-wrapper">
      <!-- 这里开始是可以直接移植的组件，使用BEM命名规范，本轮子起名gollum -->
      <div class="code-input-box">
        <div class="v-code">
          <input ref="vcode" id="vcode" maxlength="6" v-model="vCode" @focus="focused = true" @blur="focused = false"
            @keydown="forbidMoveCursor($event)" :autofocus="false">
          <label for="vcode" class="line" v-for="(item,index) in codeLength" :key="index" :class="{'animated': focused && cursorIndex === index}"
            v-text="codeArr[index]">
          </label>
        </div>
      </div>

    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        vCode: '',
        codeLength: 6,
        focused: false,
      },
      computed: {
        codeArr() {
          return this.vCode.split('');
        },
        cursorIndex() {
          return this.vCode.length;
        },
      },
      watch: {
        vCode(newVal, oldVal) {
          const reg = /^[A-Za-z0-9]+$/;
          if (reg.test(newVal)) {
            this.vCode = newVal;
          } else {
            this.vCode = newVal.replace(/[^\w]/g, '');
          }
        },
      },
      methods: {
        // 禁用方向键
        // ↑、←、→、↓、Home、End
        forbidMoveCursor(event) {
          if (event.keyCode >= 35 && event.keyCode <= 40) {
            event.preventDefault();
          }
        },
      }
    })
  </script>
</body>

</html>